@using StudentMoodle.Models
@model (UserView, List<Discipline>)

@{
    ViewData["Title"] = "Home Page";
}
@{
    var model = Model.Item1;
    var model2 = Model.Item2;
}

<div class="text-center">
    <h1 class="display-4">
        <h3>Дисциплина ММГО</h3>
    </h1>
    
</div>