@model (LabWork, int, List<FileModel>)
@{
    ViewData["Title"] = "Добавление файла";
    var model1 = Model.Item1;
    var model2 = Model.Item2;
    var model3 = Model.Item3;
}
<h3>Выберите файл для загрузки</h3>
<form asp-action="AddFile" asp-controller="Discipline" method="post" enctype="multipart/form-data">
    <input type="hidden" name="idlabwork" value="@model1.Id" />
    <input type="hidden" name="iduser" value="@model2" />
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Загрузить" />
</form>

<div>
    <input type="button" value="Назад к лабораторной работе"
           onclick="location.href='@Url.Action("LabWorkDetails", "Discipline", model1)'" />
</div>