@model StudentMoodle.Models.Group

@{
    ViewData["Title"] = "GroupStudent";
}

<h1>Привязать студента к группе</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DisConnGroupStudent">
            <p>
                <h4>Группа @Html.DisplayFor(modelItem => modelItem.speciality)</h4>
                <input type="hidden" asp-for="Id" class="form-control" />

                <br /><label>Студенты:</label><br />
                @Html.DropDownList(
                "student",
                new SelectList(ViewBag.Student),
                "Выберите студента",
                new { @class = "dropdown" }
                )
                @if (ViewData["ValidateMessage"] != null)
                {
                    <br />
                    <br />
                    <label>@ViewData["ValidateMessage"]</label>
                }
            </p>
            <p>
                <input type="submit" value="Отключить" сlass="w-80 btn btn-lg btn-primary" />
            </p>
        </form>
    </div>
</div>

<div>
    <a asp-action="GroupIndex">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}