@{
    ViewData["Title"] = "AcessDenied";
}

<div class="text-center">
    <h1 class="display-4">AccessDenied</h1>
    <p>Доступ запрещен</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
